h1 {
	margin-top: 20px;
	margin-left: 200px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

form {
	margin-left: 200px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
th{
	font-weight: bold;
	background-color: #EEE;
}
.table-movies{
	margin-left: 200px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;

}

.table-title {
	padding: 7px;
	margin: 5px;
	border: 1px solid #ccc;
	text-align: center;
	width: 500px;
	
}

.table-edit, .table-delete  {
	border: 1px solid #ccc;
	text-align: center;
	width: 10px;

}

.edit, .delete  {
	border: 1px dashed #ccc;
	text-align: center;
	width: 10px;
}

.title-movie, .url-movie {
	padding: 7px;
	margin: 5px;
	border: 1px solid #ccc;
	text-align: center;
}



